<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
  <link rel="icon" href="data:image/ico;base64,aWNv" />
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/index.js"></script>
</head>

<body>
  <div id="positioner1">
    <div id="title">
      <h1>Welcome To My Blog</h1>
    </div>
    <div id="positioner2">
      <div id="signin"><strong>"I already have an account. "</strong> <a href="http://localhost:8001/signin">click here
          to
          sign
          in"</a></div>
      <div id="register"><strong>"I'm new here. "</strong><a href="http://localhost:8001/regist">click here to register
          your own
          account</a></div>
    </div>
  </div>
</body>

</html>