<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/regist.css" />
  <link rel="icon" href="data:image/ico;base64,aWNv" />
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/regist.js"></script>
</head>

<body>
  <div id="positioner">
    <div id="border">
    </div>
    <div id="title">
      <h1>Sign Up</h1>
    </div>
    <div id="table">
      <div class="line" id="username">
        <span class="word">Username: </span>
        <span class="enter"><input class="content" id="Username" type="text" name="username" /></span>
      </div>
      <div class="line" id="studentid">
        <span class="word">StudentID: </span>
        <span class="enter"><input class="content" id="StudentID" type="text" name="studentID" /></span>
      </div>
      <div class="line" id="phone">
        <span class="word">Phone: </span>
        <span class="enter"><input class="content" id="Phone" type="text" name="phone" /></span>
      </div>
      <div class="line" id="email">
        <span class="word">Email: </span>
        <span class="enter"><input class="content" id="Email" type="text" name="email" /></span>
      </div>
      <div class="line" id="Password">
        <span class="word">Password: </span>
        <span class="enter"><input class="content" id="password" type="text" name="password" /></span>
      </div>
      <div id="warning"></div>
      <div id="buttons">
        <span id="submit"><input id="give" type="button" value="Submit" /></span>
        <span id="button"><input id="clear" type="button" value="Reset" /></span>
      </div>
    </div>

  </div>
</body>

</html>